-- Authentication and Authorization Schema
-- SuperRelatórios - Roles & Permissions System v2.0

-- Organizations (uma por tenant)
CREATE TABLE IF NOT EXISTS organizations (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name VARCHAR(255) NOT NULL,
  slug VARCHAR(100) UNIQUE NOT NULL,
  created_by UUID REFERENCES auth.users(id),
  settings JSONB DEFAULT '{}',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Business Units (múltiplas por organização)
CREATE TABLE IF NOT EXISTS business_units (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,
  name VARCHAR(255) NOT NULL,
  code VARCHAR(50) NOT NULL,
  type VARCHAR(20) NOT NULL CHECK (type IN ('matriz', 'filial', 'ponto_venda', 'escritorio', 'armazem', 'outro')),
  address TEXT,
  city VARCHAR(100),
  state VARCHAR(50),
  manager_id UUID REFERENCES auth.users(id),
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(organization_id, code)
);

-- User Roles (simplificado com business unit)
CREATE TABLE IF NOT EXISTS user_roles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  organization_id UUID REFERENCES organizations(id) ON DELETE CASCADE,
  business_unit_id UUID REFERENCES business_units(id) ON DELETE SET NULL,
  role user_role NOT NULL CHECK (role IN ('admin', 'manager', 'editor', 'viewer')),
  granted_by UUID REFERENCES auth.users(id),
  granted_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(user_id, organization_id)
);

-- User Business Unit assignments (para acesso granular)
CREATE TABLE IF NOT EXISTS user_business_units (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  business_unit_id UUID REFERENCES business_units(id) ON DELETE CASCADE,
  assigned_by UUID REFERENCES auth.users(id),
  assigned_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(user_id, business_unit_id)
);

-- Role Permissions matrix (com escopo definido)
CREATE TABLE IF NOT EXISTS role_permissions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  role user_role NOT NULL,
  resource VARCHAR(50) NOT NULL,
  action VARCHAR(20) NOT NULL CHECK (action IN ('create', 'read', 'update', 'delete', 'manage')),
  scope_level VARCHAR(20) NOT NULL CHECK (scope_level IN ('organization', 'business_unit', 'personal')),
  created_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(role, resource, action, scope_level)
);

-- Audit trail para compliance
CREATE TABLE IF NOT EXISTS role_change_audit (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id),
  organization_id UUID REFERENCES organizations(id),
  business_unit_id UUID REFERENCES business_units(id),
  old_role user_role,
  new_role user_role,
  changed_by UUID REFERENCES auth.users(id),
  reason TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Índices para performance
CREATE INDEX IF NOT EXISTS idx_user_roles_user_org ON user_roles(user_id, organization_id);
CREATE INDEX IF NOT EXISTS idx_user_roles_org_role ON user_roles(organization_id, role);
CREATE INDEX IF NOT EXISTS idx_user_roles_bu ON user_roles(business_unit_id);
CREATE INDEX IF NOT EXISTS idx_business_units_org ON business_units(organization_id);
CREATE INDEX IF NOT EXISTS idx_business_units_manager ON business_units(manager_id);
CREATE INDEX IF NOT EXISTS idx_user_business_units_user ON user_business_units(user_id);
CREATE INDEX IF NOT EXISTS idx_user_business_units_bu ON user_business_units(business_unit_id);
CREATE INDEX IF NOT EXISTS idx_role_change_audit_user ON role_change_audit(user_id);
CREATE INDEX IF NOT EXISTS idx_role_change_audit_org ON role_change_audit(organization_id);

-- Row Level Security
ALTER TABLE organizations ENABLE ROW LEVEL SECURITY;
ALTER TABLE business_units ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_roles ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_business_units ENABLE ROW LEVEL SECURITY;
ALTER TABLE role_change_audit ENABLE ROW LEVEL SECURITY;

-- Insert default permissions matrix
